<!DOCTYPE html>
<html>

<head>
    <title>Títulos - UBA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
</head>

<body>
    <div class="uk-child-width-1-2@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a class="uk-link-heading">SIET</a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a class="uk-link-heading">Acción 2</a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a class="uk-link-heading">Acción 3</a>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <a class="uk-link-heading">Instructivos</a>
            </div>
        </div>
    </div>
    <h2 class="uk-heading-small">Preguntas Frecuentes</h2>
    <ul uk-accordion="multiple: true" class="uk-padding">
        <li class="uk-open">
            <a class="uk-accordion-title" href="#">¿Cómo puedo reclamar si mi título no aparece?</a>
            <div class="uk-accordion-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">¿Qué hago si mi nombre está mal escrito?</a>
            <div class="uk-accordion-content">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor reprehenderit.</p>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#">¿Dónde puedo ver el estado actual de mi trámite?</a>
            <div class="uk-accordion-content">
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur. Excepteur sint occaecat cupidatat proident.</p>
            </div>
        </li>
    </ul>
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">
            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-navbar-item"><a href="#">titulos@uba.edu.ar</a></li>
                    <li class="uk-navbar-item"><a href="#">4536-3422</a></li>
                </ul>
            </div>
            <a class="uk-navbar-item uk-logo" href="#">Logo</a>
            <div class="uk-navbar-center-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-navbar-item"><a href="#">Secretaría Académica - Rectorado UBA</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/js/uikit-icons.min.js"></script>
</body>

</html>